.vscode
__pycache__
.DS_Store
data/*
models/*
!data/*.py
!data/*.ipynb
!models/*.py
!data/README.md
!models/README.md
gurobi/gurobi.lic
modules/gurobi/gurobi.lic
verifier/out.txt
ipynb/*
!ipynb/*.ipynb
Abstract-Constraint-Transformer.wiki/
act/pipeline/log/*
act/back_end/examples/nets/*
act/ipynb/fuzzing_results_vnnlib/*
fuzzing_results_vnnlib/*

*.log
.venv/
.claude/